body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #282c34;
  color: white;
}

h1, h2, h3 {
  margin-bottom: 10px;
}


.board {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px); /* 20 rows */
  grid-gap: 0px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 20px;
  height: 20px;
  font-size: 1em;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  cursor: pointer;
  transition: background 0.2s;
}

.cell * {
  margin: 0;
  padding: 0;
}

.cell.x {
  color: red; /* X is blue */
}

.cell.o {
  color: green; /* O is red */
}

.cell.winner {
  background-color: yellow; /* Highlight winning cells */
}

.cell:disabled {
  cursor: not-allowed;
  background-color: lightgray;
}

.winner {
  background-color: yellow;
  font-weight: bold;
  color: red;
}

.reset {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.reset:hover {
  background-color: darkred;
}
